@use "sass:map";
@use "sass:math";
@use "sass:string";
@use "sass:list";
@use "variables" as *;

// メディアクエリ
// ------------------------------------------------
// 引数：$type      どのような範囲を指定するか
//                  sp      SPサイズ
//                  pc      PCサイズ
// 使い方：「spサイズ」の場合は「@include mq(sp) { }」
//        「pcサイズ」の場合は「@include mq() { }」
// デフォルトではモバイルファースト
// ------------------------------------------------
@mixin mq($type: sp, $value1: $brakePoint) {
  $reverse: "";
  $widthType: "max";
  @if $type == pc {
    // PC用（spMaxサイズ < w）
    $reverse: "not";
  } @else {
    // SP用（w <= spMaxサイズ）
    // そのままでOK
  }
  @media #{$reverse} screen and (#{$widthType}-width: math.div($value1, 16) + em) {
    @content;
  }
}

// ホバークエリ
// ------------------------------------------------
// キーボードフォーカスとホバーを一括で設定する
// ------------------------------------------------
@mixin hover() {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  &:focus-visible {
    @content;
  }
}
